@model IEnumerable<oars.Models.AutomobileMakeCountVM>

    @{
        ViewData["Title"] = "Make Count";
    }

    <h2>Automobile Make Count</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.count)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.count)
                    </td>
                </tr>
            }
        </tbody>
    </table>
