@model oars.Models.DB.Testimonials

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Testimonials</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TenantSs" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TenantSs" class ="form-control" asp-items="ViewBag.TenantSs"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TestimonialContent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TestimonialContent" class="form-control" />
                <span asp-validation-for="TestimonialContent" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TestimonialDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TestimonialDate" class="form-control" />
                <span asp-validation-for="TestimonialDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
