@model IEnumerable<oars.Models.TestimonialsVM>

@{
    ViewData["Title"] = "Testimonials";
}

<h2>Testimonials</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialContent)
            </th>            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonialDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonialContent)
            </td>
        </tr>
}
    </tbody>
</table>
@if (User.IsInRole("Tenant"))
{
    <form asp-action="Create">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <div class="col-md-10">
                    <input name="testimonial_text" type="text" class="form-control" placeholder="Enter Testimonial..." />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
}
