@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h3>@ViewData["Message"]</h3>
        <br/>
        <p class="lead">
            We make it happen.
        </p>
        <p>
            We bring you an urban life experience like no other place can. Our apartments are designed with the intent to have our tenants be part of something big. 
            <br/><br />
            Inside our large aparments we have most, if not all the desirable features for a modern apartment. Filled with top knotch stainless steel appliances, hardwood floors, granite countertops, and more.
            <br /><br />
            Outside the apartments you will have the opportunity be part of a quiet and friendly community. Events going around everywhere from the 24 hour fitness gym to the clear sparkling pool to the club area. 
        </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h3 style="text-align:center">The Team</h3>
        <div class="profile-img">
            <img class="img-responsive img-circle" src="~/images/sample-profile.jpg" /><br />
            <div class="profile-text">
                <h4><b>Luis Silva</b></h4>
                <p>Lead Software Developer</p>
            </div>
        </div>
    </div>
</div>

