@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<p>Feel free to contact us with any question you might have. You can contact us through mail, e-mail, or a phone call. </p>
<address>
    <strong>OARS</strong><br />
    797 Devon St. <br />
    Euless, TX 76039<br />    
</address>

<address>
    <strong>Phone:</strong> 832-620-6154<br />
    <strong>Email:</strong> <a href="mailto:silva2972@gmail.com">silva2972@gmail.com</a><br />
</address>
