@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div id="home-main-img">
            <div id="home-text">
                <h2>OARS</h2>
                <h5>A Higher Quality of Living</h5>
            </div> 
        </div> 
    </div>
</div>
<br />
<br />
<hr />
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">        
        <img class="img-responsive" style="max-width: 100%;height: auto;" src="~/images/home-sub1.jpg" />
        <h3>Spacious</h3>
        <p>Experience a new level of sophistication that you've never experienced before.</p>     
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
        <img class="img-responsive" style="max-width: 100%;height: auto;" src="~/images/home-sub2.jpg" />
        <h3>Stylish</h3>
        <p>Our apartments are designed and furnished with you and modern design in mind.</p>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
        <img class="img-responsive" style="max-width: 100%;height: auto;" src="~/images/home-sub3.jpg" />
        <h3>Elegant</h3> 
        <p> Your residence is fully appointed with what you deserve. </p>
    </div>
</div>





