@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" >
        <label class="col-md-2 control-label">Registration Type</label>
        <div>
            <label class="radio-inline">
                <input type="radio" onclick="javascript:registrationCheck();" name="registrationcheck" id="tenantCheck" required ErrorMessage="Registration Type Required."/>Tenant
            </label>
            <label class="radio-inline">
                <input type="radio"  onclick="javascript:registrationCheck();" name="registrationcheck" id="staffCheck"/>Staff
            </label>
        </div>
    </div>
    <div class="form-group" id="ifTenant" style="display:none">
        <label asp-for="ssn" class="col-md-2 control-label" >SSN</label>
        <div class="col-md-10">
            <input asp-for="ssn" class="form-control" />
            <span asp-validation-for="ssn" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" id="ifStaff" style="display:none">
        <label asp-for="s_no" class="col-md-2 control-label" >Staff Number</label>
        <div class="col-md-10">
            <input asp-for="s_no" class="form-control" />
            <span asp-validation-for="ssn" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="dob" class="col-md-2 control-label">DOB</label>
        <div class="col-md-10" id="datepicker">
            <input asp-for="dob" class="form-control" type="text" />
            <span asp-validation-for="dob" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>
<p class="text-danger">@ViewBag.ErrorMessage</p>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $('#datepicker input').datepicker({
            });
    </script>
    <script type="text/javascript">

        function registrationCheck() {
            if (document.getElementById('tenantCheck').checked) {
                document.getElementById('ifTenant').style.display = 'block';
                document.getElementById('ifStaff').style.display = 'none';
            }
            else {
                document.getElementById('ifStaff').style.display = 'block';
                document.getElementById('ifTenant').style.display = 'none';
            }
        }
    </script>
}
