@model oars.Models.DB.Tenant

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Tenant</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="EmployerName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmployerName" class="form-control" />
                <span asp-validation-for="EmployerName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HomePhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Marital" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Marital" class="form-control" />
                <span asp-validation-for="Marital" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RentalNo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="RentalNo" class ="form-control" asp-items="ViewBag.RentalNo"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TenantDob" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TenantDob" class="form-control" />
                <span asp-validation-for="TenantDob" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TenantName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TenantName" class="form-control" />
                <span asp-validation-for="TenantName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WorkPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WorkPhone" class="form-control" />
                <span asp-validation-for="WorkPhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
